*{
  margin: 0;
  padding: 0;

}

/* body,html{
  background-image: url('../img/background.png');
  height: 100%;

} */

.principal{
  background-image: url('../img/background3.png')  ;
  text-align: center;
  margin-right: 30%;
  margin-left: 20%;
}